[submodule "components/json/cJSON"]
	path = components/json/cJSON
	url = ssh://git@nas.x-cheng.com:30022/ESP32/sdk/cJSON.git

[submodule "components/mbedtls/mbedtls"]
	path = components/mbedtls/mbedtls
	url = ssh://git@nas.x-cheng.com:30022/ESP32/sdk/mbedtls.git
